*.swp
# binaries
scythe
scythe2
footswitch
footswitch1p
obj*/
*-build-deps_*
debian/files
debian/footswitch/
debian/footswitch.substvars
debian/*debhelper*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
